page-login {

  ion-footer p{
    color:white !important;
    margin-bottom: 0px;
    font-size: 1rem;
    margin-top: 2px;
  }
  h1{
    color: color($colors,light);
  }
  .loginColM{
    margin-top: 10%;
  }
  .loginCol{
    margin-top: 5%;
  }
  // .loginForm{
  // //  margin-top: 10%;
  // }
  .submit-btn {
  background-color: color($colors,primary);
   border-radius: 10px !important;
   color: color($colors,light) !important;
  }
    ion-icon {
        display: inline-block;
        font-size: 1.8em;
    }
    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 10px !important;
         padding-left: 10px !important;
         font-size: 0.9em !important;
         margin-bottom: 10px !important;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }

     .logo{
       width: 60%;
      height: auto;
     //  margin-top: -30px;
     }

     .logodiv{
       margin-left: auto;
       margin-right: auto;
       width: 80%;

     }
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     button[disabled], [ion-button][disabled] {
         opacity: 0.8 !important;
     }
     .fingerprint{
       img{
       max-width: 20%;
       height: auto;
     }
     p{
       color:white;
       font-weight: bold;
     }

  }
  // ion-content{
  //   background-color: #red !important;
  // }
  @media screen and (min-height : 100px) and (max-height : 499px) {
      .logoM{
        height:40px;
      }
      .loginColM{
        margin-top: 0%;
      }
      h1{
            margin-top: 0.1rem;
      }
  }

  @media screen and (min-height : 501px) and (max-height : 650px) {
      .logoM{
        height:70px;
      }
      .loginColM{
        margin-top: 3%;
      }
      h1{
            margin-top: 0.5rem;
      }
  }
  @media screen and (min-height : 651px) and (max-height : 680px) {
    .logoM{
      height: 85px;
    }
    .loginColM{
      margin-top: 8%;
    }
}
@media screen and (min-height : 680px) and (max-height : 750px) {
  .logoM{
    height: 90px;
  }
  .loginColM{
    margin-top: 10%;
  }
}
@media screen and (min-height : 750px) and (max-height : 900px) {
  .logoM{
    height: 100px;
  }
  .loginColM{
    margin-top: 10%;
  }
}
}
