<ion-content [style.background-color]="background">
	<ion-grid>
		<ion-row>
			<ion-col>
				<div class="logodiv">
					<img class="logoM" [src]="logo" (click)="openUrl()" />
				</div>
				<h1>CRM</h1>
			</ion-col>

		</ion-row>
		<form #registerForm="ngForm" class="loginForm">
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label>
							<ion-icon name="ios-person"></ion-icon>
						</ion-label>
						<ion-input type="text" placeholder="Usuario" name="email" [(ngModel)]="login.username" required></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label>
							<ion-icon name="ios-lock"></ion-icon>
						</ion-label>
						<ion-input #password [type]="passwordType" placeholder="Contraseña" name="password" [(ngModel)]="login.password" required></ion-input>
						<button type="button" ion-button icon-only clear item-right tappable (tap)="showKey()">
							<ion-icon item-end [name]="passwordIcon"></ion-icon>
						</button>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button ion-button class="submit-btn" full (click)="onLogin()" [disabled]="!registerForm.form.valid">
						<ion-icon name="log-in"></ion-icon>&nbsp;Ingresar
					</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button *ngIf="businessList && businessList.length>1" ion-button class="submit-btn" full (click)="changeBusiness()">
						<ion-icon name="undo"></ion-icon>&nbsp;Cambiar empresa
					</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col class="loginCol">
					<div class="logodiv">
						<img class="logoM" src="assets/imgs/logoseven.png" />
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col text-center>
					<div class="fingerprint" button tappable (click)="GetAccessTouchID()">
						<img *ngIf="touchID" src="assets/imgs/fingerprint.svg">
						<img *ngIf="faceID" src="assets/imgs/faceid.svg">
					</div>

				</ion-col>
			</ion-row>
		</form>
	</ion-grid>
</ion-content>
<ion-footer text-center>
	<p>SEVEN ERP©1992-{{version | date: 'yyyy'}} DigitalWare</p>
	<p>Versión 18.0.12.0</p>
</ion-footer>