<!--
  Generated template for the TestCalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>testCalendar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Google Calendar + Firebase</h3>
  <p>Welcome to AngularFirebase world </p>

  <div *ngIf="auth.user$ | async as user">
      <h3>Logged in as {{ user.displayName }}</h3>
      <img src="{{ user.photoURL }}" width="50px">
  </div>


  <button (click)="auth.login()" class="button is-danger">Login with Google</button>

  <button (click)="auth.logout()" class="button">Logout</button>

  <hr>

  <div *ngIf="auth.user$ | async">

      <button (click)="auth.getCalendar()" class="button is-success">Get Google Calendar</button>
      <button (click)="auth.insertEvent()" class="button is-warning">Add Event</button>

      <div *ngFor="let item of auth.calendarItems">
          <h3>{{ item.summary }} - {{ item.status }}</h3>
          <p><em>Created {{ item.created }}</em></p>
          <p>{{ item.description }}</p>
          <hr>
      </div>

  </div>
</ion-content>


<!-- <ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Ionic2 + Google Calendar</ion-title>
</ion-navbar>

<ion-content padding class="getting-started">
  <ion-list> 
      <ion-item-group>
          <ion-item-divider light>Event Details</ion-item-divider>
      <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="text" [(ngModel)]="calendarEvent.name"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Location</ion-label>
          <ion-input type="text" [(ngModel)]="calendarEvent.location"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Description</ion-label>
          <ion-input type="text" [(ngModel)]="calendarEvent.description"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Start Date</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="calendarEvent.startDate"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>Start Time</ion-label>
          <ion-datetime displayFormat="hh:mm:a" pickerFormat="hh:mm:a" [(ngModel)]="calendarEvent.startTime"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>End Date</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="calendarEvent.endDate"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>End Time</ion-label>
          <ion-datetime displayFormat="hh:mm:a" pickerFormat="hh:mm:a" [(ngModel)]="calendarEvent.endTime"></ion-datetime>
      </ion-item>
        <ion-item-group>
        <ion-item-divider light>Attendees</ion-item-divider>
            <ion-list>
                <ion-item *ngFor="let attendee of attendees;let i = index" inset>
                    <ion-label>Attendee {{attendees.length - i}}</ion-label>
                    <ion-input [(ngModel)]="attendee.email"></ion-input>
                    <ion-icon name="md-remove-circle" item-right class="addRemoveBtn" (click)="removeAttendees(i)" *ngIf="attendees.length - i < attendees.length"></ion-icon>
                    <ion-icon name="md-add-circle" item-right class="addRemoveBtn" (click)="addAttendees()" *ngIf="attendees.length - i  == attendees.length"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-item-group>
        
    </ion-item-group>
  </ion-list>
  <button primary (click)="sendInvite()">Send Google Calendar Invite</button>
  
</ion-content> -->

