<!--
  Generated template for the FlowDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Caso {{flow.CAS_CONT}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only  class="BigButton" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name ="podium" item-start></ion-icon>
     <ion-label>Prioridad</ion-label>
     <ion-note item-end>
    {{flow.SEG_PRIO}}
     </ion-note>
    </ion-item>
    <ion-item>
        <ion-icon name ="eye" item-start></ion-icon>
     <ion-label>Seguimiento</ion-label>
     <ion-note item-end>
  {{flow.SEG_CONT}}
     </ion-note>
    </ion-item>
    <ion-item>
        <ion-icon name ="clipboard" item-start></ion-icon>
     <ion-label>Asunto</ion-label>
     <ion-note item-end>
     {{flow.SEG_SUBJ}}
     </ion-note>
    </ion-item>
    <ion-item>
        <ion-icon name ="person" item-start></ion-icon>
     <ion-label>Quién registra</ion-label>
     <ion-note item-end>
      {{flow.USU_NOMB}}
     </ion-note>
    </ion-item>
    <ion-item>
        <ion-icon name ="person" item-start></ion-icon>
     <ion-label>Tercero Asociado</ion-label>
     <ion-note item-end>
      {{flow.TER_NOCO}}
     </ion-note>
    </ion-item>
    <ion-item (click)="OpenAttchments()" *ngIf="attchmentCount>0">
  <ion-icon name="attach" item-start></ion-icon>
  Adjuntos
  <ion-badge item-end>{{attchmentCount}}</ion-badge>
</ion-item>
    <ion-item>
        <ion-icon name ="person" item-start></ion-icon>
     <ion-label>Solicitado para</ion-label>
     <ion-note item-end>
    {{flow.SOLICITADO}}
     </ion-note>
    </ion-item>
    <ion-item>
   <ion-icon name ="alarm" item-start></ion-icon>
     <ion-label>Recibido</ion-label>
     <ion-note item-end>
   {{flow.SEG_FREC| date: 'dd/MM/yyyy' }} &nbsp;{{flow.SEG_HREC | date: 'h:mm:ss a'}}
     </ion-note>
    </ion-item>
    <ion-item>
        <ion-icon name ="alarm" item-start></ion-icon>
     <ion-label>Límite</ion-label>
     <ion-note item-end>
     {{flow.SEG_FLIM | date: 'dd/MM/yyyy'}} &nbsp;{{flow.SEG_HLIM | date: 'h:mm:ss a'}}
     </ion-note>
    </ion-item>
    <ion-item *ngIf="flow.ADICIO">
        <ion-icon name ="twitch" item-start></ion-icon>
     <ion-label>Datos adicionales</ion-label>
     <ion-note item-end>
       {{flow.ADICIO}}
     </ion-note>
    </ion-item>
    <ion-item>
    <ion-icon name ="create" item-start></ion-icon>
    <ion-label>Descripción</ion-label>
    </ion-item>
    <ion-item text-wrap>
        <p ion-text text-wrap>  {{flow.CAS_DESC}}</p>
    </ion-item>
    <ion-item>
        <ion-icon name ="clipboard" item-start></ion-icon>
    <ion-label>Comentarios para el ejecutor</ion-label>
    </ion-item>
    <ion-item text-wrap>
        <p text-wrap>    {{flow.SEG_COME}}</p>
    </ion-item>
    <ion-item>
        <ion-icon name ="create" item-start></ion-icon>
    <ion-label>Comentarios para el segundo ejecutor</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="flow.COMENTARIOS"  placeholder="Ingrese sus comentarios aquí"></ion-textarea>
    </ion-item>
  </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button block color="primary" (click)="flowNextTracing()">
              <ion-icon name="checkmark-circle"></ion-icon>&nbsp;Aprobar
            </button>
          </ion-col>
          <ion-col>
            <button ion-button block color="danger" (click)="flowReject()">
                  <ion-icon name="remove-circle"></ion-icon>&nbsp;Rechazar
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
