<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Consultar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item (click)="OpenSearchClient()">
      <ion-icon name ="man" item-start>
      </ion-icon>
     <ion-label>Cliente</ion-label>
     <ion-note class="note"  item-end *ngIf="client">
     {{client.PRO_NOMB}}
     </ion-note>
    </ion-item>
    <ion-item (click)="OpenSearchDetail()" *ngIf="client">
      <ion-icon name ="home" item-start>
      </ion-icon>
     <ion-label>Detalle</ion-label>
     <ion-note class="note"  item-end *ngIf="client && client.cdpros">
     {{client.cdpros.DPR_NOMB}}
     </ion-note>
    </ion-item>
    <div *ngIf="client && client.cdpros">
    <ion-item-divider>
      Contactos
    </ion-item-divider>
     <ion-item *ngFor="let contact of client.cdpros.conpr" (click)="openContact(contact)">
       <ion-icon item-start name="person"></ion-icon>
       <ion-label>{{contact.CON_NOMB}}</ion-label>
     </ion-item>
   </div>
  </ion-list>
</ion-content>
