<!--
  Generated template for the ActivityDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{activity.AGE_ASUN}}</ion-title>
    <ion-buttons end>
      <button class="BigButton" ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-list>
    <ion-item-divider text-center>
      DETALLES
    </ion-item-divider>
    <ion-item>
      <ion-icon name="alarm" item-start></ion-icon>
      <ion-label>Inicio</ion-label>
      <ion-note item-end>
      {{activity.AGE_FINI | digitalDate}}
      </ion-note>
     </ion-item>
     <ion-item>
     <ion-icon name="alarm" item-start></ion-icon>
     <ion-label>Fin</ion-label>
     <ion-note item-end>
       {{activity.AGE_FFIN | digitalDate}}
     </ion-note>
    </ion-item>
  <ion-item detail-push>
      <ion-icon name="person" item-start></ion-icon>
    <ion-label>Cliente</ion-label>
    <ion-note item-end (click)="showClient(activity)">
    {{activity.PRO_NOMB}}
    </ion-note>
   </ion-item>
     <ion-item detail-push>
       <ion-icon name="contact" item-start></ion-icon>
     <ion-label>Contacto</ion-label>
     <ion-note   item-end class="wrap-text"  (click)="showContact(activity)">
     {{activity.CON_NOMB}}  {{activity.CON_APEL}}
     </ion-note>
    </ion-item>
    <ion-item *ngIf="activity.TER_NOCO && activity.TER_CODI!='0'" (click)="showTercero(activity)">
         <ion-icon name="person" item-start></ion-icon>
      <ion-label>Tercero asociado</ion-label>
      <ion-note item-end>
    {{activity.TER_NOCO}}
      </ion-note>
       <ion-icon name="information-circle" color="danger" item-end></ion-icon>
     </ion-item>
    <ion-item>
         <ion-icon name="create" item-start></ion-icon>
      <ion-label>Actividad</ion-label>
      <ion-note item-end>
    {{activity.ACT_NOMB}}
      </ion-note>
     </ion-item>
     <ion-item *ngIf="invitedCount>0" (click)="ShowInvites()">
     <ion-icon name="contacts" item-start></ion-icon>
     Invitados
     <ion-badge item-end>{{invitedCount}}</ion-badge>
   </ion-item>
     <ion-item>
         <ion-icon name="create" item-start></ion-icon>
       <ion-label>Asunto</ion-label>
       <ion-note item-end>
    {{activity.AGE_ASUN}}
       </ion-note>
      </ion-item>
      <ion-item-divider text-center>
        DILIGENCIAR
      </ion-item-divider>
      <ion-item (click)="showStates()">
       <ion-icon name="information-circle" item-start></ion-icon>
        <ion-label>
          Estado
        </ion-label>
        <ion-note item-end>
          {{activity.AGE_ESTA}}
        </ion-note>
      </ion-item>
      <ion-item (click)="showResults()">
          <ion-icon name="thumbs-up" item-start></ion-icon>

        <ion-label>
              Resultado
        </ion-label>
        <ion-note item-end>
          {{activity.AGE_RESU}}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="clipboard" item-start></ion-icon>
        <ion-label>
              Observaciones
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="activity.AGE_OBSE"  placeholder="Ingrese sus comentarios sobre la actividad"></ion-textarea>
      </ion-item>
      <!-- <ion-item button (click)="openInvited()" *ngIf="activity.USU_PLAN == activity.USU_EJEC">
        <ion-label>Invitar</ion-label>
        <ion-note item-end>
          {{invited.Usu_Nomb}}
        </ion-note>
       </ion-item> -->

</ion-list>
<ion-grid>
  <ion-row>
    <ion-col>
      <button *ngIf="activity.EMP_CODI=='1'" ion-button block color="primary" (click)="openConsultoryFiles()">
        <ion-icon name="clipboard"></ion-icon>&nbsp;Actas de Consultoría
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button block color="primary" (click)="openInvited()">
        <ion-icon name="contacts"></ion-icon>&nbsp;Invitar
      </button>
    </ion-col>
    <!-- <ion-col>
      <button ion-button block color="danger" (click)="ActivityReject()">
            <ion-icon name="remove-circle"></ion-icon>&nbsp;Cancelar
      </button>
    </ion-col> -->
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button block color="primary" (click)="UpdateAgend()" [disabled]="replicated!=undefined">
      <ion-icon name="checkmark-circle" icon-left>
      </ion-icon>&nbsp;Hecho
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
